[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "themes/hugo-easy-gallery"]
	path = themes/hugo-easy-gallery
	url = https://github.com/liwenyip/hugo-easy-gallery.git
