{{ $days := .Params.itinerary_days }}
{{ if $days }}
{{ $stops := where $days "coords" "!=" nil }}
<div class="itinerary-section not-prose">
  {{ if ge (len $stops) 2 }}
    <div class="itinerary-map-wrapper">
      <div id="itinerary-map" class="itinerary-map"></div>
    </div>
    <script>window.ITINERARY_MAP_DATA = {{ $stops | jsonify | safeJS }};</script>
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          media="print" onload="this.media='all'" />
    <noscript><link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /></noscript>
    <script defer src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {{ $itinMapJS := resources.Get "js/itinerary-map.js" }}
    {{ $itinMapJS = $itinMapJS | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
    <script defer src="{{ $itinMapJS.RelPermalink }}" integrity="{{ $itinMapJS.Data.Integrity }}"></script>
  {{ end }}
  <details class="itinerary-details">
    <summary class="itinerary-summary">
      <span class="itinerary-summary-icon">📍</span>
      <span>Voir l'itinéraire</span>
      <svg class="itinerary-chevron" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </summary>
    <div class="itinerary-body">
      {{ range $days }}
        <div class="itinerary-day">
          <h4 class="itinerary-day-label">{{ .label }}</h4>
          <ul class="itinerary-items">
            {{ range .items }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </details>
</div>
{{ end }}
