{{ if or .IsHome (eq .Section "about") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Romain Charretteur",
  "url": "{{ site.BaseURL }}",
  "jobTitle": "Software Developer & Photographer",
  "gender": "Male",
  "nationality": "French",
  "description": "{{ .Site.Params.description }}",
  "sameAs": [
    "https://www.instagram.com/romain.charretteur"
  ],
  "knowsAbout": ["Photography", "Travel Photography", "Software Development", "Web Development"]
}
</script>
{{ end }}

{{ if eq .Layout "gallery" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ImageGallery",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "creator": {
    "@type": "Person",
    "name": "Romain Charretteur"
  },
  "url": "{{ .Permalink }}"
}
</script>
{{ end }}
