{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Romain Charretteur",
  "url": "{{ site.BaseURL }}",
  "jobTitle": "Photographer",
  "sameAs": [
    "https://www.instagram.com/romain.charretteur"
  ],
  "description": "{{ .Site.Params.description }}"
}
</script>
{{ end }}

{{ if eq .Layout "gallery" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ImageGallery",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "creator": {
    "@type": "Person",
    "name": "Romain Charretteur"
  },
  "url": "{{ .Permalink }}"
}
</script>
{{ end }}
